*{
box-sizing: border-box;
}
.father{

width: 500px;
height: 650px;
background-color:rgb(52, 2, 2);
margin: auto;
border-radius: 10%;
box-shadow: 0 0 50px rgb(40, 38, 38);

}
.Dad{

width: 500px;
height: 850px;
background-color:rgb(52, 2, 2);
margin: auto;
border-radius: 10%;
box-shadow: 0 0 50px rgb(40, 38, 38);


}
.photo img{

height: 100px;
width: 100px;
border-radius: 50%;
border: 5px rgb(37, 1, 1) solid;
margin-top: 30px;


}
.photo{

    text-align: center;
}
.font{

   font-family: system-ui, -
   apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
   color: antiquewhite;
}
body{
    background-color: antiquewhite;
}
.icon input{

padding: 20px;
border-radius: 30px;
width: 300px;
background-color: rgb(52, 2, 2);
color:beige;
font-size: medium;
border: solid gray ;
display: flex;
margin: auto;
box-shadow: inset 0 0 15px beige;

}
.icon i{

    translate : -140px 40px;
}
.pass i{
     translate: -140px 40px;
}
.pass input{

padding: 20px;
border-radius: 30px;
width: 300px;
background-color: rgb(52, 2, 2);
color:beige;
font-size: medium;
border: solid gray ;
display: flex;
margin: auto;
box-shadow: inset 0 0 15px beige;


}
h3{
    border: solid 2px beige;
    color: aliceblue;
    border-width: 10px;
}
.te{
    color: bisque;
    text-shadow: 2px 5px 6px beige;

}
button{
    padding: 10px;
border-radius: 30px;
width: 350px;
background-color: rgb(52, 2, 2);
color:beige;
font-size: medium;
text-align: center;
border: solid gray ;
box-shadow: 0 0 15px gray;
}
button:hover{
border: solid white;
}
.emo{
width:700px ;
height: 700px;
background-color: rgb(52, 2, 2);
margin: auto;
padding: 250px;
text-align: center;
color: beige;
margin-top: 70px;
}
.yy i{
    translate: 340px -310px;
    border: solid 10px black;
    border-radius: 50%;
}
a{
    color: beige;
}